<!DOCTYPE html>
<html>
    <body style="background-color: #ffffff;">
        <div style="display: block; margin: auto; text-align: center">
            <span style="color: #111111; font-family: 'Open Sans', sans-serif; font-size: 28px; font-weight: 300; line-height: 32px; margin: 0 0 12px; text-align: center; display: block;">Hello Username</span>
            <span style="color: #111111; font-family: 'Source Sans Pro', sans-serif; font-size: 18px; line-height: 32px; margin: 0 0 24px;">Username is intrested in your offer and sent your the follow message:</span>
        </div>
       <div style="display: block; margin: auto; text-align: center">
           <span style="background: #add8e6; color: #111; display: inline-block; font-family: 'Lato', sans-serif; font-size: 12px; font-weight: bold; line-height: 12px; letter-spacing: 1px; margin: 0 0 30px; padding: 10px 15px 8px;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi quidem, facilis minima non deserunt, corporis ab id beatae, architecto soluta reiciendis explicabo ratione sapiente minus voluptate dicta quisquam obcaecati sint!</span>
       </div>
       <div style="display: block; margin: auto; text-align: center">
          <span style='color: #111111; font-size: 16px; margin-top: 20px; text-align: center; text-shadow: 0 1px 1px #fff;'>Sender email: ilkadimi@outlook.com</span>
          <br>
          <span style="font-style: italic; color: #B6B6B6; font-size: 16px; margin-top: 20px; text-align: center; text-shadow: 0 1px 1px #fff;"> SwapValue team send their regards</span>
       </div>
    </body>
</html>